<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
		</div>
	{% endif %}
	<h1 class="site-title animated fadeIn" style="margin-left: 43%;text-shadow: 0 0 10px #FFFFFF;"><a href="{{ site.url }}/">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" style="margin-left: 36%;text-shadow: 0 0 10px #FFFFFF;" itemprop="description">{{ site.description }}</h2>
</header><!-- /.masthead -->


<div class="js-menu-screen menu-screen"></div>
